@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
        display: block;
    }
    .navbar{
        display: block;
        height: 200px;
        flex-direction: column;
        transform: all 2.7s ease-out;
        -webkit-transform: all 2.7s ease-out;
        -moz-transform: all 2.7s ease-out;
        -ms-transform: all 2.7s ease-out;
        -o-transform: all 2.7s ease-out;
}
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 150px;
    }
    .v-class-resp{
        opacity: 0 ;
    }
    .section{
        flex-direction: column-reverse;
        padding: 40px;
    }
    .paras{
        padding: 0px;
        text-align: center;
    }
}